body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #0a192f;
  color:white;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color:inherit;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  margin-top: 2rem;
}

.nav-logo {
  margin-left: 2rem;
  font-size: 2rem;
}

.nav-items {
  display: flex;
  list-style: none;
  padding:0;
  margin:0;
  text-align: left;
}


.nav-item {
  margin-left: 2rem;
}

.navItem-underline {
  display: inline-block;
  position: relative;
}

.navItem-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -8px;
  left:0;
  background-color: #EFAAC4;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.navItem-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-toggle {
  display: none;
}


@media (max-width: 40em) {
  .nav-items {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    align-items: center;
    background: steelblue;
    padding: min(30vh, 10rem);
    gap: 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .nav-item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .nav-items[data-visible='true'] {
    transform: translateX(0%);
  }

  .nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url('./assets/hamburger.png');
    background-repeat: no-repeat;
    width: 2rem;
    border:0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }  

  
  .nav-toggle[aria-expanded='true'] {
    background: url('./assets/close.png');
    background-repeat: no-repeat;
  }
  
}

.name {
  color: #EFAAC4;
}

.button {
  border-radius: 5px;
  border: 1px solid #EFAAC4;
  height: 50px;
  width: 125px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #EFAAC4;
  transition: transform 1s ease-out;
}

.blur {
  filter: blur(4px);
}

/*
Bodies
*/

.Contact {
  height: 100vh;
  background: steelblue;
}

.About {
  height: 100vh;
  background: orchid;
}

.Work {
  height: 100vh;
  background: olivedrab;
}
